{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "semi": true,
  "printWidth": 150,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "never"
}